{% extends 'shell.html' %}
{% block content %}
<div class="portal-card">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="portal-table">
      <div class="portal-table-title">{{ form.event_name.label }}</div>
      <div class="form-row">
        {{ form.event_name }}
        {% if form.event_name.errors %}
          {% for error in form.event_name.errors %}
            <div class="form-group form-err">{{ error }}</div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="portal-table-title">Event Date</div>
      <div class="portal-table-row">
        <div class="portal-table-col-x2 center">
          <div class="form-row mr05">
            {{ form.event_my_opt.label }}
            {{ form.event_my_opt }}
            {% if form.event_my_opt.errors %}
              {% for error in form.event_my_opt.errors %}
                <div class="form-group form-err">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="portal-table-col">
          <div class="form-row ml05">
            {{ form.event_day.label }}
            {{ form.event_day }}
            {% if form.event_day.errors %}
              {% for error in form.event_day.errors %}
                <div class="form-group form-err">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="portal-table-title">{{ form.event_desc.label }}</div>
      <div class="form-row">
        {{ form.event_desc }}
        {% if form.event_desc.errors %}
        {% for error in form.event_desc.errors %}
        <div class="form-group form-err">{{ error }}</div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
</div>

<div class="portal-card">
  <div class="portal-table">
    <div class="portal-table-title">Setup Date/Time</div>
    <div class="portal-table-row">
      <div class="portal-table-col-x2 center">
        <div class="form-row mr05">
          {{ form.setup_my_opt.label }}
          {{ form.setup_my_opt }}
          {% if form.setup_my_opt.errors %}
            {% for error in form.event_my_opt.errors %}
              <div class="form-group form-err">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="portal-table-col">
        <div class="form-row ml05">
          {{ form.setup_day.label }}
          {{ form.setup_day }}
          {% if form.setup_day.errors %}
            {% for error in form.setup_day.errors %}
              <div class="form-group form-err">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="form-row">
      {{ form.odd_setup.label }}
      {{ form.odd_setup }}
      {% if form.odd_setup.errors %}
        {% for error in form.odd_setup.errors %}
          <div class="form-group form-err">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="portal-table-title">Pickup Date/Time</div>
    <div class="portal-table-row">
      <div class="portal-table-col-x2 center">
        <div class="form-row mr05">
          {{ form.pickup_my_opt.label }}
          {{ form.pickup_my_opt }}
          {% if form.pickup_my_opt.errors %}
            {% for error in form.pickup_my_opt.errors %}
              <div class="form-group form-err">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="portal-table-col">
        <div class="form-row ml05">
          {{ form.pickup_day.label }}
          {{ form.pickup_day }}
          {% if form.pickup_day.errors %}
            {% for error in form.pickup_day.errors %}
              <div class="form-group form-err">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="form-row">
      {{ form.odd_pickup.label }}
      {{ form.odd_pickup }}
      {% if form.odd_pickup.errors %}
      {% for error in form.odd_pickup.errors %}
      <div class="form-group form-err">{{ error }}</div>
      {% endfor %}
      {% endif %}
    </div>
    <div class="portal-table-title">Done?</div>
    <div class="portal-table-row">
      <div class="portal-table-col-half">
        <div class="form-row mr05">
          {{ form.submit }}
        </div>
      </form>
      </div>
      <div class="portal-table-col-half">
        <div class="form-row ml05">
          <input type="submit" value="Cancel" onclick="window.location.href='{{url_for('main.home')}}'">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
