{% extends 'shell.html' %}
{% block content %}

<div class="portal-card">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-row">
      {{ form.email.label }}
      {{ form.email }}
    </div>
    <div class="form-row">
      {{ form.pw.label }}
      {{ form.pw }}
    </div>
    <div class="form-row">
      {{ form.submit }}
      <span>Forgot Password?<a href="#">Click Here</a></span>
    </div>
  </form>
</div>

<div class="portal-card">
  
</div>

{% endblock content %}
