{% extends 'shell.html' %}
{% block content %}

<div class="portal-card">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-row">
      {{ form.email.label }}
      {{ form.email }}
    </div>
    <div class="form-row">
      {{ form.pw.label }}
      {{ form.pw }}
    </div>
    <div class="portal-table-row">
      <div class="portal-table-col">
        <div class="form-row">
          {{ form.submit }}
        </div>
      </div>
      <div class="portal-table-col-x2 right">
        <span>Forgot Password?<br><a href="#">Click Here</a></span>
      </div>
    </div>
  </form>
</div>

<div class="portal-card">

</div>

{% endblock content %}
