{% extends 'shell.html' %}
{% block content %}

<div class="portal-card">
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-row">
      {{ form.fname.label }}
      {{ form.fname }}
      <!--label for="row1">Input</label>
      <input type="text" id="row1" required=""-->
    </div>
    {% if form.fname.errors %}
			{% for error in form.fname.errors %}
				<div class="form-group form-err">{{ error }}</div>
			{% endfor %}
		{% endif %}

    <div class="form-row">
      {{ form.lname.label }}
      {{ form.lname }}
    </div>
    {% if form.lname.errors %}
			{% for error in form.lname.errors %}
				<div class="form-group form-err">{{ error }}</div>
			{% endfor %}
		{% endif %}

    <div class="form-row">
      {{ form.email.label }}
      {{ form.email }}
    </div>
    {% if form.email.errors %}
			{% for error in form.email.errors %}
				<div class="form-group form-err">{{ error }}</div>
			{% endfor %}
		{% endif %}

    <div class="form-row">
      {{ form.num.label }}
      {{ form.num }}
    </div>
    {% if form.num.errors %}
			{% for error in form.num.errors %}
				<div class="form-group form-err">{{ error }}</div>
			{% endfor %}
		{% endif %}

    <div class="form-row">
      {{ form.pw.label }}
      {{ form.pw }}
    </div>
    {% if form.pw.errors %}
			{% for error in form.pw.errors %}
				<div class="form-group form-err">{{ error }}</div>
			{% endfor %}
		{% endif %}

    <div class="form-row">
      {{ form.confirm.label }}
      {{ form.confirm }}
    </div>
    {% if form.confirm.errors %}
			{% for error in form.confirm.errors %}
				<div class="form-group form-err">{{ error }}</div>
			{% endfor %}
		{% endif %}

    <div class="form-row">
      {{ form.submit }}
      <span>Already Registered? <a href="{{url_for('guy.login')}}">Login</a></span>
    </div>
  </form>
</div>

<div class="portal-card">
  
</div>

{% endblock content %}
