<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<!--
  optional area for urgent messages / admin buttons
  TODO: add an if statement to show/hide
-->
<div class="header-message-wrap">
  <span>Header message</span>
</div>

<div class="main-wrapper">

  <!--
    main table layout
  -->
  <div class="portal-wrap">
    <!-- header image link -->
    <div class="portal-header">
      <a href="{{url_for('main.home')}}">
        <img src="{{url_for('static', filename='img/rsr.png')}}" alt="">
      </a>
    </div>
    <!-- end header -->

    {% if current_user.is_authenticated %}
    <!-- menu bar -->
    <div class="portal-menu">
      <div class="portal-menu-btn">
        <button class="menu-link" onclick="window.location.href='{{url_for('cal.view_cal')}}';">
          <img src="{{url_for('static', filename='img/schedule2.png')}}" alt="">
          <p class="btn-text">Schedule</p>
        </button>
      </div>
      <div class="portal-menu-btn">
        <button class="menu-link" onclick="window.location.href='{{url_for('job.events')}}';">
          <img src="{{url_for('static', filename='img/event1.png')}}" alt="">
          <p class="btn-text">Events</p>
        </button>
      </div>
      <div class="portal-menu-btn">
        <button class="menu-link" onclick="window.location.href='#';">
          <img src="{{url_for('static', filename='img/alert1.png')}}" alt="">
          <p class="btn-text">Alerts</p>
        </button>
      </div>
      <div class="portal-menu-btn">
        <button class="menu-link" onclick="window.location.href='{{url_for('guy.profile')}}';">
          <img src="{{url_for('static', filename='img/profile1.png')}}" alt="">
          <p class="btn-text">Profile</p>
        </button>
      </div>
    </div>
    <!-- end menu -->
    {% else %}
    <!-- menu bar -->
    <div class="portal-menu">
      <div class="portal-menu-btn">
        <button class="menu-link" onclick="window.location.href='{{url_for('guy.login')}}';">
          <img src="{{url_for('static', filename='img/schedule2.png')}}" alt="">
          <p class="btn-text">Login</p>
        </button>
      </div>
      <div class="portal-menu-btn">
        <button class="menu-link" onclick="window.location.href='{{url_for('guy.register')}}';">
          <img src="{{url_for('static', filename='img/profile1.png')}}" alt="">
          <p class="btn-text">Register</p>
        </button>
      </div>
      <div class="portal-menu-btn">
        <button class="menu-link" onclick="window.location.href='#';">
          <img src="{{url_for('static', filename='img/event1.png')}}" alt="">
          <p class="btn-text">Apply</p>
        </button>
      </div>
      <div class="portal-menu-btn">
        <button class="menu-link" onclick="window.location.href='#';">
          <img src="{{url_for('static', filename='img/alert1.png')}}" alt="">
          <p class="btn-text">???</p>
        </button>
      </div>
    </div>
    <!-- end menu -->
    {% endif %}

    <!-- flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="portal-flash">{{ message }}</div>
        {% endfor %}
      {% elif def_text %}
        <div class="portal-flash">{{ def_text }}</div>
      {% endif %}
    {% endwith %}
    <!-- end flash -->

    <!--
      portal content
      import page-specific content
    -->
    <div class="portal-content">
      {% block content %}{% endblock %}
    </div>
    <!-- end portal-content -->

    <!-- footer content -->
    <div class="portal-footer">
      <div class="footer-left">
        Employee Portal
        {% if current_user.is_authenticated %}
          - <a href="{{url_for('guy.logout')}}">Logout</a>
        {% endif %}
      </div>
      <div class="footer-right">
        c. 2020 :: Jason Thompson
      </div>
    </div>
    <!-- end footer -->
  </div>
  <!-- end of main-wrapper -->

  <!--
    footer information - links to my services
    ### currently hidden
    ### maybe eventual inbox etc.
  -->
  <div class="footer-wrap">
    <span>Footer</span>
  </div>
</div>

</body>
</html>
