<div class="portal-card tr">
  <form action="" method="POST">

    <div class="form-row">
      <label for="row1">Input</label>
      <input type="text" id="row1" required="">
    </div>
    <div class="form-row">
      <label for="row2">Select</label>
      <select name="sel" id="sel" required>
        <option value="">None</option>
        <option value="1">First</option>
        <option value="2">Second</option>
      </select>
    </div>
    <div class="form-row">
      <div class="on-off-row">
        <div class="on-off-col">
          <ul id="choice_switcher">
            <li><input checked id="choice_switcher-0" name="choice_switcher" type="radio" value="choice1">
            <label for="choice_switcher-0">On</label></li>
            <li><input id="choice_switcher-1" name="choice_switcher" type="radio" value="choice2">
            <label for="choice_switcher-1">Off</label></li>
          </ul>
        </div>
        <div class="on-off-col">
          <label for="row2">Select</label>
          <select name="sel" id="sel" required>
            <option value="">None</option>
            <option value="1">First</option>
            <option value="2">Second</option>
          </select>
        </div>
        <div class="on-off-col">
          <label for="row2">Select</label>
          <select name="sel" id="sel" required>
            <option value="">None</option>
            <option value="1">First</option>
            <option value="2">Second</option>
          </select>
        </div>
      </div>
    </div>

  </form>
</div>
