{% extends 'layout.html' %}

{% block content %}

<main>
  <div class="main-wrapper">
    <div class="cal-wrapper">
      <p align="right">{{month}} {{year}}</p>
      <div class="weekday-labels">
        <span class="day-name">Sun</span>
        <span class="day-name">Mon</span>
        <span class="day-name">Tues</span>
        <span class="day-name">Wed</span>
        <span class="day-name">Thur</span>
        <span class="day-name">Fri</span>
        <span class="day-name">Sat</span>
      </div>
      <div class="cal-days">
        {% for x in day %}
        <div class="day-box">
          {% if x.day_num == "" %}
            <div class="no-date"></div>
          {% else %}
            <span>{{x.day_num}}</span>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>

{% endblock content %}
