{% extends 'shell.html' %}
{% block content %}

<div class="portal-card">
  <div class="portal-table">
    <div class="portal-table-title">
      <span class="portal-table-title-text">User Info</span>
      <span class="portal-table-title-link">
        <a href="#">[ edit profile ]</a>
      </span>
    </div>
    <div class="portal-table-user-info">
      <img src="static/img/profile/{{ guy.profile_pic }}" alt="">
      <div class="portal-table-user-info-text">
        <p id="first-name">{{ guy.first_name.upper() }}</p>
        <p id="last-name">{{ guy.last_name }}</p>
        <p id="phone-main">{{ utils.phone_format(guy.phone_main) }}</p>
      </div>
    </div>
    <div class="portal-table-row">
      <div class="portal-table-col-x2 left">
        <p class="portal-table-row-label">Email</p>
        <p>{{ guy.email }}</p>
      </div>
      <div class="portal-table-col right">
        <p class="portal-table-row-label">Status</p>
        <p>{{ guy.status }}</p>
      </div>
    </div>
    <div class="portal-table-row">
      <div class="portal-table-col-x2 left">
        <p class="portal-table-row-label">Alt Phone</p>
        <p>{{ guy.phone_alt or 'N/A' }}</p>
      </div>
      <div class="portal-table-col right">
        <p class="portal-table-row-label">Rank</p>
        <p>
          {% if guy.is_driver == 'no' %}
            worker
          {% else %}
            driver
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="portal-card">
  <div class="portal-table">
    <div class="portal-table-title">
      <span class="portal-table-title-text">Availability</span>
      <span class="portal-table-title-link">
        <a href="{{url_for('guy.edit_avail')}}">[ update ]</a>
      </span>
    </div>
    <div class="portal-table-row">
      <div class="portal-table-col right">Mon</div>
      <div class="portal-table-col-x2 center">{{ hours.monday }}</div>
    </div>
    <div class="portal-table-row">
      <div class="portal-table-col right">Tues</div>
      <div class="portal-table-col-x2 center">{{ hours.tuesday }}</div>
    </div>
    <div class="portal-table-row">
      <div class="portal-table-col right">Wed</div>
      <div class="portal-table-col-x2 center">{{ hours.wednesday }}</div>
    </div>
    <div class="portal-table-row">
      <div class="portal-table-col right">Thur</div>
      <div class="portal-table-col-x2 center">{{ hours.thursday }}</div>
    </div>
    <div class="portal-table-row">
      <div class="portal-table-col right">Fri</div>
      <div class="portal-table-col-x2 center">{{ hours.friday }}</div>
    </div>
    <div class="portal-table-row">
      <div class="portal-table-col right">Sat</div>
      <div class="portal-table-col-x2 center">{{ hours.saturday }}</div>
    </div>
    <div class="portal-table-row">
      <div class="portal-table-col right">Sun</div>
      <div class="portal-table-col-x2 center">{{ hours.sunday }}</div>
    </div>
  </div>
</div>

{% endblock content %}
